* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "risbyle2016-light";
  src: url("/fonts/risbyle2016-beta-light-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "risbyle2016-regular";
  src: url("/fonts/risbyle2016-beta-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "risbyle2016-bold";
  src: url("/fonts/risbyle2016-beta-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --Åva-blue: #0186bf;
  --Åva-dark-blue: #006590;
  font-family: "risbyle2016-regular";
  color: white;
}

canvas {
  position: fixed;
  top: 10vh;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  height: 9.7vh;
  background: var(--Åva-blue);
  margin: 0;
  border-bottom: solid var(--Åva-dark-blue);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: calc(5vh - 25px);
  left: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
  z-index: 200;
  width: 50px;
  height: 50px;
  font-size: 2rem;
}

#closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 200;
  background: var(--Åva-dark-blue);
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

#logo {
  height: 50px;
  margin-left: 5%;
}
