#stor {
  padding: 10px;
  font-size: 3rem;
  margin: 200px 0px 50px 0px;
}

.knapp {
  position: relative;
  z-index: 100;
  background-color: #0186bf;
  border-radius: 10px;
  margin-top: 40px;
  padding: 5px;
  font-size: 2rem;
  border: solid #006590;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
